.blazor-flex-column
{
    display: flex;
    flex-direction: column;
}

.blazor-flex-row
{
    display: flex;
    flex-direction: row;
}

.grabbable
{
    cursor: move;
}

@each $color, $value in $theme-colors
{
    .accent-#{$color}
    {
        accent-color: $value;
    }
}
