.blazor-collapse.blazor-collapse-hide
{
    transition: max-height .5s ease-out;
}

.blazor-collapse.blazor-collapse-show
{
    transition: max-height .5s ease-out;
}

.blazor-collapse-show
{
    display: block;
    overflow: hidden;
    max-height: 100vh;
    transition: max-height 0.25s linear;
}

.blazor-collapse-hide
{
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s linear;
}