:root,
[data-bs-theme=light] {
  --blazor-blue: #0d6efd;
  --blazor-indigo: #6610f2;
  --blazor-purple: #6f42c1;
  --blazor-pink: #d63384;
  --blazor-red: #dc3545;
  --blazor-orange: #fd7e14;
  --blazor-yellow: #ffc107;
  --blazor-green: #198754;
  --blazor-teal: #20c997;
  --blazor-cyan: #0dcaf0;
  --blazor-black: #000;
  --blazor-white: #fff;
  --blazor-gray: #6c757d;
  --blazor-gray-dark: #343a40;
  --blazor-gray-100: #f8f9fa;
  --blazor-gray-200: #e9ecef;
  --blazor-gray-300: #dee2e6;
  --blazor-gray-400: #ced4da;
  --blazor-gray-500: #adb5bd;
  --blazor-gray-600: #6c757d;
  --blazor-gray-700: #495057;
  --blazor-gray-800: #343a40;
  --blazor-gray-900: #212529;
  --blazor-primary: #7b3cc3;
  --blazor-secondary: #f29467;
  --blazor-success: #84bf76;
  --blazor-info: #17a2b8;
  --blazor-warning: #ffc857;
  --blazor-danger: #d94e67;
  --blazor-primary-rgb: 123, 60, 195;
  --blazor-secondary-rgb: 242, 148, 103;
  --blazor-success-rgb: 132, 191, 118;
  --blazor-info-rgb: 23, 162, 184;
  --blazor-warning-rgb: 255, 200, 87;
  --blazor-danger-rgb: 217, 78, 103;
  --blazor-primary-text-emphasis: #31184e;
  --blazor-secondary-text-emphasis: #613b29;
  --blazor-success-text-emphasis: #354c2f;
  --blazor-info-text-emphasis: #09414a;
  --blazor-warning-text-emphasis: #665023;
  --blazor-danger-text-emphasis: #571f29;
  --blazor-light-text-emphasis: #495057;
  --blazor-dark-text-emphasis: #495057;
  --blazor-primary-bg-subtle: #e5d8f3;
  --blazor-secondary-bg-subtle: #fceae1;
  --blazor-success-bg-subtle: #e6f2e4;
  --blazor-info-bg-subtle: #d1ecf1;
  --blazor-warning-bg-subtle: #fff4dd;
  --blazor-danger-bg-subtle: #f7dce1;
  --blazor-light-bg-subtle: #fcfcfd;
  --blazor-dark-bg-subtle: #ced4da;
  --blazor-primary-border-subtle: #cab1e7;
  --blazor-secondary-border-subtle: #fad4c2;
  --blazor-success-border-subtle: #cee5c8;
  --blazor-info-border-subtle: #a2dae3;
  --blazor-warning-border-subtle: #ffe9bc;
  --blazor-danger-border-subtle: #f0b8c2;
  --blazor-light-border-subtle: #e9ecef;
  --blazor-dark-border-subtle: #adb5bd;
  --blazor-white-rgb: 255, 255, 255;
  --blazor-black-rgb: 0, 0, 0;
  --blazor-font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --blazor-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --blazor-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --blazor-body-font-family: var(--blazor-font-sans-serif);
  --blazor-body-font-size: 1rem;
  --blazor-body-font-weight: 400;
  --blazor-body-line-height: 1.5;
  --blazor-body-color: #212529;
  --blazor-body-color-rgb: 33, 37, 41;
  --blazor-body-bg: #fff;
  --blazor-body-bg-rgb: 255, 255, 255;
  --blazor-emphasis-color: #000;
  --blazor-emphasis-color-rgb: 0, 0, 0;
  --blazor-secondary-color: rgba(33, 37, 41, 0.75);
  --blazor-secondary-color-rgb: 33, 37, 41;
  --blazor-secondary-bg: #e9ecef;
  --blazor-secondary-bg-rgb: 233, 236, 239;
  --blazor-tertiary-color: rgba(33, 37, 41, 0.5);
  --blazor-tertiary-color-rgb: 33, 37, 41;
  --blazor-tertiary-bg: #f8f9fa;
  --blazor-tertiary-bg-rgb: 248, 249, 250;
  --blazor-link-color: #7b3cc3;
  --blazor-link-color-rgb: 123, 60, 195;
  --blazor-link-decoration: underline;
  --blazor-link-hover-color: #62309c;
  --blazor-link-hover-color-rgb: 98, 48, 156;
  --blazor-code-color: #d63384;
  --blazor-highlight-bg: #fff3cd;
  --blazor-border-width: 1px;
  --blazor-border-style: solid;
  --blazor-border-color: #dee2e6;
  --blazor-border-color-translucent: rgba(0, 0, 0, 0.175);
  --blazor-border-radius: 0.375rem;
  --blazor-border-radius-sm: 0.25rem;
  --blazor-border-radius-lg: 0.5rem;
  --blazor-border-radius-xl: 1rem;
  --blazor-border-radius-xxl: 2rem;
  --blazor-border-radius-2xl: var(--blazor-border-radius-xxl);
  --blazor-border-radius-pill: 50rem;
  --blazor-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --blazor-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --blazor-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --blazor-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --blazor-focus-ring-width: 0.25rem;
  --blazor-focus-ring-opacity: 0.25;
  --blazor-focus-ring-color: rgba(123, 60, 195, 0.25);
  --blazor-form-valid-color: #84bf76;
  --blazor-form-valid-border-color: #84bf76;
  --blazor-form-invalid-color: #d94e67;
  --blazor-form-invalid-border-color: #d94e67;
}

.badge {
  --blazor-badge-padding-x: 0.65em;
  --blazor-badge-padding-y: 0.35em;
  --blazor-badge-font-size: 0.75em;
  --blazor-badge-font-weight: 700;
  --blazor-badge-color: #fff;
  --blazor-badge-border-radius: var(--blazor-border-radius);
  display: inline-block;
  padding: var(--blazor-badge-padding-y) var(--blazor-badge-padding-x);
  font-size: var(--blazor-badge-font-size);
  font-weight: var(--blazor-badge-font-weight);
  line-height: 1;
  color: var(--blazor-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--blazor-badge-border-radius);
}
.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.btn {
  --blazor-btn-padding-x: 0.75rem;
  --blazor-btn-padding-y: 0.375rem;
  --blazor-btn-font-family: ;
  --blazor-btn-font-size: 1rem;
  --blazor-btn-font-weight: 400;
  --blazor-btn-line-height: 1.5;
  --blazor-btn-color: var(--blazor-body-color);
  --blazor-btn-bg: transparent;
  --blazor-btn-border-width: var(--blazor-border-width);
  --blazor-btn-border-color: transparent;
  --blazor-btn-border-radius: var(--blazor-border-radius);
  --blazor-btn-hover-border-color: transparent;
  --blazor-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --blazor-btn-disabled-opacity: 0.65;
  --blazor-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--blazor-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--blazor-btn-padding-y) var(--blazor-btn-padding-x);
  font-family: var(--blazor-btn-font-family);
  font-size: var(--blazor-btn-font-size);
  font-weight: var(--blazor-btn-font-weight);
  line-height: var(--blazor-btn-line-height);
  color: var(--blazor-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--blazor-btn-border-width) solid var(--blazor-btn-border-color);
  border-radius: var(--blazor-btn-border-radius);
  background-color: var(--blazor-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--blazor-btn-hover-color);
  background-color: var(--blazor-btn-hover-bg);
  border-color: var(--blazor-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--blazor-btn-color);
  background-color: var(--blazor-btn-bg);
  border-color: var(--blazor-btn-border-color);
}
.btn:focus-visible {
  color: var(--blazor-btn-hover-color);
  background-color: var(--blazor-btn-hover-bg);
  border-color: var(--blazor-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--blazor-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--blazor-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--blazor-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--blazor-btn-active-color);
  background-color: var(--blazor-btn-active-bg);
  border-color: var(--blazor-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--blazor-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--blazor-btn-disabled-color);
  pointer-events: none;
  background-color: var(--blazor-btn-disabled-bg);
  border-color: var(--blazor-btn-disabled-border-color);
  opacity: var(--blazor-btn-disabled-opacity);
}

.btn-primary {
  --blazor-btn-color: #fff;
  --blazor-btn-bg: #7b3cc3;
  --blazor-btn-border-color: #7b3cc3;
  --blazor-btn-hover-color: #fff;
  --blazor-btn-hover-bg: #6933a6;
  --blazor-btn-hover-border-color: #62309c;
  --blazor-btn-focus-shadow-rgb: 143, 89, 204;
  --blazor-btn-active-color: #fff;
  --blazor-btn-active-bg: #62309c;
  --blazor-btn-active-border-color: #5c2d92;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #fff;
  --blazor-btn-disabled-bg: #7b3cc3;
  --blazor-btn-disabled-border-color: #7b3cc3;
}

.btn-secondary {
  --blazor-btn-color: #000;
  --blazor-btn-bg: #f29467;
  --blazor-btn-border-color: #f29467;
  --blazor-btn-hover-color: #000;
  --blazor-btn-hover-bg: #f4a47e;
  --blazor-btn-hover-border-color: #f39f76;
  --blazor-btn-focus-shadow-rgb: 206, 126, 88;
  --blazor-btn-active-color: #000;
  --blazor-btn-active-bg: #f5a985;
  --blazor-btn-active-border-color: #f39f76;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #000;
  --blazor-btn-disabled-bg: #f29467;
  --blazor-btn-disabled-border-color: #f29467;
}

.btn-success {
  --blazor-btn-color: #000;
  --blazor-btn-bg: #84bf76;
  --blazor-btn-border-color: #84bf76;
  --blazor-btn-hover-color: #000;
  --blazor-btn-hover-bg: #96c98b;
  --blazor-btn-hover-border-color: #90c584;
  --blazor-btn-focus-shadow-rgb: 112, 162, 100;
  --blazor-btn-active-color: #000;
  --blazor-btn-active-bg: #9dcc91;
  --blazor-btn-active-border-color: #90c584;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #000;
  --blazor-btn-disabled-bg: #84bf76;
  --blazor-btn-disabled-border-color: #84bf76;
}

.btn-info {
  --blazor-btn-color: #000;
  --blazor-btn-bg: #17a2b8;
  --blazor-btn-border-color: #17a2b8;
  --blazor-btn-hover-color: #000;
  --blazor-btn-hover-bg: #3ab0c3;
  --blazor-btn-hover-border-color: #2eabbf;
  --blazor-btn-focus-shadow-rgb: 20, 138, 156;
  --blazor-btn-active-color: #000;
  --blazor-btn-active-bg: #45b5c6;
  --blazor-btn-active-border-color: #2eabbf;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #000;
  --blazor-btn-disabled-bg: #17a2b8;
  --blazor-btn-disabled-border-color: #17a2b8;
}

.btn-warning {
  --blazor-btn-color: #000;
  --blazor-btn-bg: #ffc857;
  --blazor-btn-border-color: #ffc857;
  --blazor-btn-hover-color: #000;
  --blazor-btn-hover-bg: #ffd070;
  --blazor-btn-hover-border-color: #ffce68;
  --blazor-btn-focus-shadow-rgb: 217, 170, 74;
  --blazor-btn-active-color: #000;
  --blazor-btn-active-bg: #ffd379;
  --blazor-btn-active-border-color: #ffce68;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #000;
  --blazor-btn-disabled-bg: #ffc857;
  --blazor-btn-disabled-border-color: #ffc857;
}

.btn-danger {
  --blazor-btn-color: #000;
  --blazor-btn-bg: #d94e67;
  --blazor-btn-border-color: #d94e67;
  --blazor-btn-hover-color: #000;
  --blazor-btn-hover-bg: #df697e;
  --blazor-btn-hover-border-color: #dd6076;
  --blazor-btn-focus-shadow-rgb: 184, 66, 88;
  --blazor-btn-active-color: #000;
  --blazor-btn-active-bg: #e17185;
  --blazor-btn-active-border-color: #dd6076;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #000;
  --blazor-btn-disabled-bg: #d94e67;
  --blazor-btn-disabled-border-color: #d94e67;
}

.btn-outline-primary {
  --blazor-btn-color: #7b3cc3;
  --blazor-btn-border-color: #7b3cc3;
  --blazor-btn-hover-color: #fff;
  --blazor-btn-hover-bg: #7b3cc3;
  --blazor-btn-hover-border-color: #7b3cc3;
  --blazor-btn-focus-shadow-rgb: 123, 60, 195;
  --blazor-btn-active-color: #fff;
  --blazor-btn-active-bg: #7b3cc3;
  --blazor-btn-active-border-color: #7b3cc3;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #7b3cc3;
  --blazor-btn-disabled-bg: transparent;
  --blazor-btn-disabled-border-color: #7b3cc3;
  --blazor-gradient: none;
}

.btn-outline-secondary {
  --blazor-btn-color: #f29467;
  --blazor-btn-border-color: #f29467;
  --blazor-btn-hover-color: #000;
  --blazor-btn-hover-bg: #f29467;
  --blazor-btn-hover-border-color: #f29467;
  --blazor-btn-focus-shadow-rgb: 242, 148, 103;
  --blazor-btn-active-color: #000;
  --blazor-btn-active-bg: #f29467;
  --blazor-btn-active-border-color: #f29467;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #f29467;
  --blazor-btn-disabled-bg: transparent;
  --blazor-btn-disabled-border-color: #f29467;
  --blazor-gradient: none;
}

.btn-outline-success {
  --blazor-btn-color: #84bf76;
  --blazor-btn-border-color: #84bf76;
  --blazor-btn-hover-color: #000;
  --blazor-btn-hover-bg: #84bf76;
  --blazor-btn-hover-border-color: #84bf76;
  --blazor-btn-focus-shadow-rgb: 132, 191, 118;
  --blazor-btn-active-color: #000;
  --blazor-btn-active-bg: #84bf76;
  --blazor-btn-active-border-color: #84bf76;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #84bf76;
  --blazor-btn-disabled-bg: transparent;
  --blazor-btn-disabled-border-color: #84bf76;
  --blazor-gradient: none;
}

.btn-outline-info {
  --blazor-btn-color: #17a2b8;
  --blazor-btn-border-color: #17a2b8;
  --blazor-btn-hover-color: #000;
  --blazor-btn-hover-bg: #17a2b8;
  --blazor-btn-hover-border-color: #17a2b8;
  --blazor-btn-focus-shadow-rgb: 23, 162, 184;
  --blazor-btn-active-color: #000;
  --blazor-btn-active-bg: #17a2b8;
  --blazor-btn-active-border-color: #17a2b8;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #17a2b8;
  --blazor-btn-disabled-bg: transparent;
  --blazor-btn-disabled-border-color: #17a2b8;
  --blazor-gradient: none;
}

.btn-outline-warning {
  --blazor-btn-color: #ffc857;
  --blazor-btn-border-color: #ffc857;
  --blazor-btn-hover-color: #000;
  --blazor-btn-hover-bg: #ffc857;
  --blazor-btn-hover-border-color: #ffc857;
  --blazor-btn-focus-shadow-rgb: 255, 200, 87;
  --blazor-btn-active-color: #000;
  --blazor-btn-active-bg: #ffc857;
  --blazor-btn-active-border-color: #ffc857;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #ffc857;
  --blazor-btn-disabled-bg: transparent;
  --blazor-btn-disabled-border-color: #ffc857;
  --blazor-gradient: none;
}

.btn-outline-danger {
  --blazor-btn-color: #d94e67;
  --blazor-btn-border-color: #d94e67;
  --blazor-btn-hover-color: #000;
  --blazor-btn-hover-bg: #d94e67;
  --blazor-btn-hover-border-color: #d94e67;
  --blazor-btn-focus-shadow-rgb: 217, 78, 103;
  --blazor-btn-active-color: #000;
  --blazor-btn-active-bg: #d94e67;
  --blazor-btn-active-border-color: #d94e67;
  --blazor-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --blazor-btn-disabled-color: #d94e67;
  --blazor-btn-disabled-bg: transparent;
  --blazor-btn-disabled-border-color: #d94e67;
  --blazor-gradient: none;
}

.btn-link {
  --blazor-btn-font-weight: 400;
  --blazor-btn-color: var(--blazor-link-color);
  --blazor-btn-bg: transparent;
  --blazor-btn-border-color: transparent;
  --blazor-btn-hover-color: var(--blazor-link-hover-color);
  --blazor-btn-hover-border-color: transparent;
  --blazor-btn-active-color: var(--blazor-link-hover-color);
  --blazor-btn-active-border-color: transparent;
  --blazor-btn-disabled-color: #6c757d;
  --blazor-btn-disabled-border-color: transparent;
  --blazor-btn-box-shadow: 0 0 0 #000;
  --blazor-btn-focus-shadow-rgb: 143, 89, 204;
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(--blazor-btn-color);
}
.btn-link:hover {
  color: var(--blazor-btn-hover-color);
}

.btn-lg {
  --blazor-btn-padding-y: 0.5rem;
  --blazor-btn-padding-x: 1rem;
  --blazor-btn-font-size: 1.25rem;
  --blazor-btn-border-radius: var(--blazor-border-radius-lg);
}

.btn-sm {
  --blazor-btn-padding-y: 0.25rem;
  --blazor-btn-padding-x: 0.5rem;
  --blazor-btn-font-size: 0.875rem;
  --blazor-btn-border-radius: var(--blazor-border-radius-sm);
}

.alert {
  --blazor-alert-bg: transparent;
  --blazor-alert-padding-x: 1rem;
  --blazor-alert-padding-y: 1rem;
  --blazor-alert-margin-bottom: 1rem;
  --blazor-alert-color: inherit;
  --blazor-alert-border-color: transparent;
  --blazor-alert-border: var(--blazor-border-width) solid var(--blazor-alert-border-color);
  --blazor-alert-border-radius: var(--blazor-border-radius);
  --blazor-alert-link-color: inherit;
  position: relative;
  padding: var(--blazor-alert-padding-y) var(--blazor-alert-padding-x);
  margin-bottom: var(--blazor-alert-margin-bottom);
  color: var(--blazor-alert-color);
  background-color: var(--blazor-alert-bg);
  border: var(--blazor-alert-border);
  border-radius: var(--blazor-alert-border-radius);
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
  color: var(--blazor-alert-link-color);
}

.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-primary {
  --blazor-alert-color: var(--blazor-primary-text-emphasis);
  --blazor-alert-bg: var(--blazor-primary-bg-subtle);
  --blazor-alert-border-color: var(--blazor-primary-border-subtle);
  --blazor-alert-link-color: var(--blazor-primary-text-emphasis);
}

.alert-secondary {
  --blazor-alert-color: var(--blazor-secondary-text-emphasis);
  --blazor-alert-bg: var(--blazor-secondary-bg-subtle);
  --blazor-alert-border-color: var(--blazor-secondary-border-subtle);
  --blazor-alert-link-color: var(--blazor-secondary-text-emphasis);
}

.alert-success {
  --blazor-alert-color: var(--blazor-success-text-emphasis);
  --blazor-alert-bg: var(--blazor-success-bg-subtle);
  --blazor-alert-border-color: var(--blazor-success-border-subtle);
  --blazor-alert-link-color: var(--blazor-success-text-emphasis);
}

.alert-info {
  --blazor-alert-color: var(--blazor-info-text-emphasis);
  --blazor-alert-bg: var(--blazor-info-bg-subtle);
  --blazor-alert-border-color: var(--blazor-info-border-subtle);
  --blazor-alert-link-color: var(--blazor-info-text-emphasis);
}

.alert-warning {
  --blazor-alert-color: var(--blazor-warning-text-emphasis);
  --blazor-alert-bg: var(--blazor-warning-bg-subtle);
  --blazor-alert-border-color: var(--blazor-warning-border-subtle);
  --blazor-alert-link-color: var(--blazor-warning-text-emphasis);
}

.alert-danger {
  --blazor-alert-color: var(--blazor-danger-text-emphasis);
  --blazor-alert-bg: var(--blazor-danger-bg-subtle);
  --blazor-alert-border-color: var(--blazor-danger-border-subtle);
  --blazor-alert-link-color: var(--blazor-danger-text-emphasis);
}

.card {
  --blazor-card-spacer-y: 1rem;
  --blazor-card-spacer-x: 1rem;
  --blazor-card-title-spacer-y: 0.5rem;
  --blazor-card-title-color: ;
  --blazor-card-subtitle-color: ;
  --blazor-card-border-width: var(--blazor-border-width);
  --blazor-card-border-color: var(--blazor-border-color-translucent);
  --blazor-card-border-radius: var(--blazor-border-radius);
  --blazor-card-box-shadow: ;
  --blazor-card-inner-border-radius: calc(var(--blazor-border-radius) - (var(--blazor-border-width)));
  --blazor-card-cap-padding-y: 0.5rem;
  --blazor-card-cap-padding-x: 1rem;
  --blazor-card-cap-bg: rgba(var(--blazor-body-color-rgb), 0.03);
  --blazor-card-cap-color: ;
  --blazor-card-height: ;
  --blazor-card-color: ;
  --blazor-card-bg: var(--blazor-body-bg);
  --blazor-card-img-overlay-padding: 1rem;
  --blazor-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--blazor-card-height);
  color: var(--blazor-body-color);
  word-wrap: break-word;
  background-color: var(--blazor-card-bg);
  background-clip: border-box;
  border: var(--blazor-card-border-width) solid var(--blazor-card-border-color);
  border-radius: var(--blazor-card-border-radius);
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: var(--blazor-card-inner-border-radius);
  border-top-right-radius: var(--blazor-card-inner-border-radius);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: var(--blazor-card-inner-border-radius);
  border-bottom-left-radius: var(--blazor-card-inner-border-radius);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--blazor-card-spacer-y) var(--blazor-card-spacer-x);
  color: var(--blazor-card-color);
}

.card-title {
  margin-bottom: var(--blazor-card-title-spacer-y);
  color: var(--blazor-card-title-color);
}

.card-subtitle {
  margin-top: calc(-0.5 * var(--blazor-card-title-spacer-y));
  margin-bottom: 0;
  color: var(--blazor-card-subtitle-color);
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link + .card-link {
  margin-left: var(--blazor-card-spacer-x);
}

.card-header {
  padding: var(--blazor-card-cap-padding-y) var(--blazor-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--blazor-card-cap-color);
  background-color: var(--blazor-card-cap-bg);
  border-bottom: var(--blazor-card-border-width) solid var(--blazor-card-border-color);
}
.card-header:first-child {
  border-radius: var(--blazor-card-inner-border-radius) var(--blazor-card-inner-border-radius) 0 0;
}

.card-footer {
  padding: var(--blazor-card-cap-padding-y) var(--blazor-card-cap-padding-x);
  color: var(--blazor-card-cap-color);
  background-color: var(--blazor-card-cap-bg);
  border-top: var(--blazor-card-border-width) solid var(--blazor-card-border-color);
}
.card-footer:last-child {
  border-radius: 0 0 var(--blazor-card-inner-border-radius) var(--blazor-card-inner-border-radius);
}

.card-header-tabs {
  margin-right: calc(-0.5 * var(--blazor-card-cap-padding-x));
  margin-bottom: calc(-1 * var(--blazor-card-cap-padding-y));
  margin-left: calc(-0.5 * var(--blazor-card-cap-padding-x));
  border-bottom: 0;
}
.card-header-tabs .nav-link.active {
  background-color: var(--blazor-card-bg);
  border-bottom-color: var(--blazor-card-bg);
}

.card-header-pills {
  margin-right: calc(-0.5 * var(--blazor-card-cap-padding-x));
  margin-left: calc(-0.5 * var(--blazor-card-cap-padding-x));
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--blazor-card-img-overlay-padding);
  border-radius: var(--blazor-card-inner-border-radius);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: var(--blazor-card-inner-border-radius);
  border-top-right-radius: var(--blazor-card-inner-border-radius);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: var(--blazor-card-inner-border-radius);
  border-bottom-left-radius: var(--blazor-card-inner-border-radius);
}

.card-group > .card {
  margin-bottom: var(--blazor-card-group-margin);
}
@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.blazor-vertical-carousel {
  position: relative;
  overflow: hidden;
}
.blazor-vertical-carousel-item-list {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: all 0.5s ease-out 0s;
}
.blazor-vertical-carousel-item {
  min-width: 100%;
  height: 100%;
  display: flex;
}
.blazor-vertical-carousel-control-prev, .blazor-vertical-carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .blazor-vertical-carousel-control-prev, .blazor-vertical-carousel-control-next {
    transition: none;
  }
}
.blazor-vertical-carousel-control-prev:hover, .blazor-vertical-carousel-control-prev:focus, .blazor-vertical-carousel-control-next:hover, .blazor-vertical-carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.blazor-vertical-carousel-control-prev {
  left: 0;
}
.blazor-vertical-carousel-control-next {
  right: 0;
}
.blazor-vertical-carousel-control-prev-icon, .blazor-vertical-carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
.blazor-vertical-carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.blazor-vertical-carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.blazor-vertical-carousel-indicators-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}
.blazor-vertical-carousel-indicators-obj {
  box-sizing: content-box;
  flex: 0 1 auto;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .blazor-vertical-carousel-indicators-obj {
    transition: none;
  }
}
.blazor-vertical-carousel-indicators-obj-active {
  opacity: 1;
}
.blazor-vertical-carousel-indicators-line {
  width: 30px;
  height: 3px;
}
.blazor-vertical-carousel-indicators-square {
  width: 30px;
  height: 30px;
}
.blazor-vertical-carousel-indicators-circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.blazor-accordion-body.blazor-accordion-body-hide {
  display: flex;
  line-height: 0;
  opacity: 0;
  padding: 0 0.5rem;
  transition: 0.2s ease-out;
}

.blazor-accordion-body.blazor-accordion-body-show {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  transition: 0.2s ease-out;
}

.blazor-accordion {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: block;
}

.blazor-accordion-title {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  text-align: left;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  cursor: pointer;
}

.blazor-accordion-title-show {
  color: #0c63e4;
  background-color: #e7f1ff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.blazor-accordion-title-show::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  content: "";
  background-repeat: no-repeat;
  background-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.blazor-accordion-title-hide {
  background-color: #fff;
  color: #212529;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.blazor-accordion-title-hide::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
  content: "";
  background-repeat: no-repeat;
  background-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.blazor-collapse.blazor-collapse-hide {
  display: flex;
  line-height: 0;
  opacity: 0;
  transition: 0.2s ease-out;
}

.blazor-collapse.blazor-collapse-show {
  display: flex;
  justify-content: space-between;
  transition: 0.2s ease-out;
}

.blazor-flex-column {
  display: flex;
  flex-direction: column;
}

.blazor-flex-row {
  display: flex;
  flex-direction: row;
}

.grabbable {
  cursor: move;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--blazor-body-font-family);
  font-size: var(--blazor-body-font-size);
  font-weight: var(--blazor-body-font-weight);
  line-height: var(--blazor-body-line-height);
  color: var(--blazor-body-color);
  text-align: var(--blazor-body-text-align);
  background-color: var(--blazor-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--blazor-border-width) solid;
  opacity: 0.25;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--blazor-heading-color, inherit);
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.1875em;
  background-color: var(--blazor-highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: rgba(var(--blazor-link-color-rgb), var(--blazor-link-opacity, 1));
  text-decoration: underline;
}
a:hover {
  --blazor-link-color-rgb: var(--blazor-link-hover-color-rgb);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--blazor-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: var(--blazor-code-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--blazor-body-bg);
  background-color: var(--blazor-body-color);
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--blazor-secondary-color);
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

.btn-close {
  --blazor-btn-close-color: #000;
  --blazor-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --blazor-btn-close-opacity: 0.5;
  --blazor-btn-close-hover-opacity: 0.75;
  --blazor-btn-close-focus-shadow: 0 0 0 0.25rem rgba(123, 60, 195, 0.25);
  --blazor-btn-close-focus-opacity: 1;
  --blazor-btn-close-disabled-opacity: 0.25;
  --blazor-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: var(--blazor-btn-close-color);
  background: transparent var(--blazor-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--blazor-btn-close-opacity);
}
.btn-close:hover {
  color: var(--blazor-btn-close-color);
  text-decoration: none;
  opacity: var(--blazor-btn-close-hover-opacity);
}
.btn-close:focus {
  outline: 0;
  box-shadow: var(--blazor-btn-close-focus-shadow);
  opacity: var(--blazor-btn-close-focus-opacity);
}
.btn-close:disabled, .btn-close.disabled {
  pointer-events: none;
  user-select: none;
  opacity: var(--blazor-btn-close-disabled-opacity);
}

.btn-close-white {
  filter: var(--blazor-btn-close-white-filter);
}

.text-bg-primary {
  color: #fff;
  background-color: RGBA(123, 60, 195, var(--blazor-bg-opacity, 1));
}

.text-bg-secondary {
  color: #000;
  background-color: RGBA(242, 148, 103, var(--blazor-bg-opacity, 1));
}

.text-bg-success {
  color: #000;
  background-color: RGBA(132, 191, 118, var(--blazor-bg-opacity, 1));
}

.text-bg-info {
  color: #000;
  background-color: RGBA(23, 162, 184, var(--blazor-bg-opacity, 1));
}

.text-bg-warning {
  color: #000;
  background-color: RGBA(255, 200, 87, var(--blazor-bg-opacity, 1));
}

.text-bg-danger {
  color: #000;
  background-color: RGBA(217, 78, 103, var(--blazor-bg-opacity, 1));
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}

.blazor-display-inline {
  display: inline;
}

.blazor-display-inline-block {
  display: inline-block;
}

.blazor-display-block {
  display: block;
}

.blazor-display-grid {
  display: grid;
}

.blazor-display-inline-grid {
  display: inline-grid;
}

.blazor-display-table {
  display: table;
}

.blazor-display-table-row {
  display: table-row;
}

.blazor-display-table-cell {
  display: table-cell;
}

.blazor-display-flex {
  display: flex;
}

.blazor-display-inline-flex {
  display: inline-flex;
}

.blazor-display-none {
  display: none;
}

.blazor-position-static {
  position: static;
}

.blazor-position-relative {
  position: relative;
}

.blazor-position-absolute {
  position: absolute;
}

.blazor-position-fixed {
  position: fixed;
}

.blazor-position-sticky {
  position: sticky;
}

.blazor-top-0 {
  top: 0;
}

.blazor-top-50 {
  top: 50%;
}

.blazor-top-100 {
  top: 100%;
}

.blazor-bottom-0 {
  bottom: 0;
}

.blazor-bottom-50 {
  bottom: 50%;
}

.blazor-bottom-100 {
  bottom: 100%;
}

.blazor-left-0 {
  left: 0;
}

.blazor-left-50 {
  left: 50%;
}

.blazor-left-100 {
  left: 100%;
}

.blazor-right-0 {
  right: 0;
}

.blazor-right-50 {
  right: 50%;
}

.blazor-right-100 {
  right: 100%;
}

.blazor-translate-middle {
  transform: translate(-50%, -50%);
}

.blazor-translate-middle-x {
  transform: translateX(-50%);
}

.blazor-translate-middle-y {
  transform: translateY(-50%);
}

.blazor-border {
  border: var(--blazor-border-width) var(--blazor-border-style) var(--blazor-border-color);
}

.blazor-border-0 {
  border: 0;
}

.blazor-border-primary {
  --blazor-border-opacity: 1;
  border-color: rgba(var(--blazor-primary-rgb), var(--blazor-border-opacity));
}

.blazor-border-secondary {
  --blazor-border-opacity: 1;
  border-color: rgba(var(--blazor-secondary-rgb), var(--blazor-border-opacity));
}

.blazor-border-success {
  --blazor-border-opacity: 1;
  border-color: rgba(var(--blazor-success-rgb), var(--blazor-border-opacity));
}

.blazor-border-info {
  --blazor-border-opacity: 1;
  border-color: rgba(var(--blazor-info-rgb), var(--blazor-border-opacity));
}

.blazor-border-warning {
  --blazor-border-opacity: 1;
  border-color: rgba(var(--blazor-warning-rgb), var(--blazor-border-opacity));
}

.blazor-border-danger {
  --blazor-border-opacity: 1;
  border-color: rgba(var(--blazor-danger-rgb), var(--blazor-border-opacity));
}

.blazor-border-black {
  --blazor-border-opacity: 1;
  border-color: rgba(var(--blazor-black-rgb), var(--blazor-border-opacity));
}

.blazor-border-white {
  --blazor-border-opacity: 1;
  border-color: rgba(var(--blazor-white-rgb), var(--blazor-border-opacity));
}

.blazor-border-1 {
  border-width: 1px;
}

.blazor-border-2 {
  border-width: 2px;
}

.blazor-border-3 {
  border-width: 3px;
}

.blazor-border-4 {
  border-width: 4px;
}

.blazor-border-5 {
  border-width: 5px;
}

.blazor-padding-0 {
  padding: 0;
}

.blazor-padding-1 {
  padding: 0.25rem;
}

.blazor-padding-2 {
  padding: 0.5rem;
}

.blazor-padding-3 {
  padding: 1rem;
}

.blazor-padding-4 {
  padding: 1.5rem;
}

.blazor-padding-5 {
  padding: 3rem;
}

.blazor-text-primary {
  --blazor-text-opacity: 1;
  color: rgba(var(--blazor-primary-rgb), var(--blazor-text-opacity));
}

.blazor-text-secondary {
  --blazor-text-opacity: 1;
  color: rgba(var(--blazor-secondary-rgb), var(--blazor-text-opacity));
}

.blazor-text-success {
  --blazor-text-opacity: 1;
  color: rgba(var(--blazor-success-rgb), var(--blazor-text-opacity));
}

.blazor-text-info {
  --blazor-text-opacity: 1;
  color: rgba(var(--blazor-info-rgb), var(--blazor-text-opacity));
}

.blazor-text-warning {
  --blazor-text-opacity: 1;
  color: rgba(var(--blazor-warning-rgb), var(--blazor-text-opacity));
}

.blazor-text-danger {
  --blazor-text-opacity: 1;
  color: rgba(var(--blazor-danger-rgb), var(--blazor-text-opacity));
}

.blazor-text-black {
  --blazor-text-opacity: 1;
  color: rgba(var(--blazor-black-rgb), var(--blazor-text-opacity));
}

.blazor-text-white {
  --blazor-text-opacity: 1;
  color: rgba(var(--blazor-white-rgb), var(--blazor-text-opacity));
}

.blazor-text-body {
  --blazor-text-opacity: 1;
  color: rgba(var(--blazor-body-color-rgb), var(--blazor-text-opacity));
}

.blazor-text-muted {
  --blazor-text-opacity: 1;
  color: var(--blazor-secondary-color);
}

.blazor-text-black-50 {
  --blazor-text-opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}

.blazor-text-white-50 {
  --blazor-text-opacity: 1;
  color: rgba(255, 255, 255, 0.5);
}

.blazor-text-body-secondary {
  --blazor-text-opacity: 1;
  color: var(--blazor-secondary-color);
}

.blazor-text-body-tertiary {
  --blazor-text-opacity: 1;
  color: var(--blazor-tertiary-color);
}

.blazor-text-body-emphasis {
  --blazor-text-opacity: 1;
  color: var(--blazor-emphasis-color);
}

.blazor-text-reset {
  --blazor-text-opacity: 1;
  color: inherit;
}

.blazor-bg-primary {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-primary-rgb), var(--blazor-bg-opacity));
}

.blazor-bg-secondary {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-secondary-rgb), var(--blazor-bg-opacity));
}

.blazor-bg-success {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-success-rgb), var(--blazor-bg-opacity));
}

.blazor-bg-info {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-info-rgb), var(--blazor-bg-opacity));
}

.blazor-bg-warning {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-warning-rgb), var(--blazor-bg-opacity));
}

.blazor-bg-danger {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-danger-rgb), var(--blazor-bg-opacity));
}

.blazor-bg-black {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-black-rgb), var(--blazor-bg-opacity));
}

.blazor-bg-white {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-white-rgb), var(--blazor-bg-opacity));
}

.blazor-bg-body {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-body-bg-rgb), var(--blazor-bg-opacity));
}

.blazor-bg-transparent {
  --blazor-bg-opacity: 1;
  background-color: transparent;
}

.blazor-bg-body-secondary {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-secondary-bg-rgb), var(--blazor-bg-opacity));
}

.blazor-bg-body-tertiary {
  --blazor-bg-opacity: 1;
  background-color: rgba(var(--blazor-tertiary-bg-rgb), var(--blazor-bg-opacity));
}

.blazor-rounded {
  border-radius: var(--blazor-border-radius);
}

.blazor-rounded-0 {
  border-radius: 0;
}

.blazor-rounded-1 {
  border-radius: var(--blazor-border-radius-sm);
}

.blazor-rounded-2 {
  border-radius: var(--blazor-border-radius);
}

.blazor-rounded-3 {
  border-radius: var(--blazor-border-radius-lg);
}

.blazor-rounded-4 {
  border-radius: var(--blazor-border-radius-xl);
}

.blazor-rounded-5 {
  border-radius: var(--blazor-border-radius-xxl);
}

.blazor-rounded-circle {
  border-radius: 50%;
}

.blazor-rounded-pill {
  border-radius: var(--blazor-border-radius-pill);
}

@media (min-width: 576px) {
  .blazor-display-sm-inline {
    display: inline;
  }
  .blazor-display-sm-inline-block {
    display: inline-block;
  }
  .blazor-display-sm-block {
    display: block;
  }
  .blazor-display-sm-grid {
    display: grid;
  }
  .blazor-display-sm-inline-grid {
    display: inline-grid;
  }
  .blazor-display-sm-table {
    display: table;
  }
  .blazor-display-sm-table-row {
    display: table-row;
  }
  .blazor-display-sm-table-cell {
    display: table-cell;
  }
  .blazor-display-sm-flex {
    display: flex;
  }
  .blazor-display-sm-inline-flex {
    display: inline-flex;
  }
  .blazor-display-sm-none {
    display: none;
  }
  .blazor-padding-sm-0 {
    padding: 0;
  }
  .blazor-padding-sm-1 {
    padding: 0.25rem;
  }
  .blazor-padding-sm-2 {
    padding: 0.5rem;
  }
  .blazor-padding-sm-3 {
    padding: 1rem;
  }
  .blazor-padding-sm-4 {
    padding: 1.5rem;
  }
  .blazor-padding-sm-5 {
    padding: 3rem;
  }
}
@media (min-width: 768px) {
  .blazor-display-md-inline {
    display: inline;
  }
  .blazor-display-md-inline-block {
    display: inline-block;
  }
  .blazor-display-md-block {
    display: block;
  }
  .blazor-display-md-grid {
    display: grid;
  }
  .blazor-display-md-inline-grid {
    display: inline-grid;
  }
  .blazor-display-md-table {
    display: table;
  }
  .blazor-display-md-table-row {
    display: table-row;
  }
  .blazor-display-md-table-cell {
    display: table-cell;
  }
  .blazor-display-md-flex {
    display: flex;
  }
  .blazor-display-md-inline-flex {
    display: inline-flex;
  }
  .blazor-display-md-none {
    display: none;
  }
  .blazor-padding-md-0 {
    padding: 0;
  }
  .blazor-padding-md-1 {
    padding: 0.25rem;
  }
  .blazor-padding-md-2 {
    padding: 0.5rem;
  }
  .blazor-padding-md-3 {
    padding: 1rem;
  }
  .blazor-padding-md-4 {
    padding: 1.5rem;
  }
  .blazor-padding-md-5 {
    padding: 3rem;
  }
}
@media (min-width: 992px) {
  .blazor-display-lg-inline {
    display: inline;
  }
  .blazor-display-lg-inline-block {
    display: inline-block;
  }
  .blazor-display-lg-block {
    display: block;
  }
  .blazor-display-lg-grid {
    display: grid;
  }
  .blazor-display-lg-inline-grid {
    display: inline-grid;
  }
  .blazor-display-lg-table {
    display: table;
  }
  .blazor-display-lg-table-row {
    display: table-row;
  }
  .blazor-display-lg-table-cell {
    display: table-cell;
  }
  .blazor-display-lg-flex {
    display: flex;
  }
  .blazor-display-lg-inline-flex {
    display: inline-flex;
  }
  .blazor-display-lg-none {
    display: none;
  }
  .blazor-padding-lg-0 {
    padding: 0;
  }
  .blazor-padding-lg-1 {
    padding: 0.25rem;
  }
  .blazor-padding-lg-2 {
    padding: 0.5rem;
  }
  .blazor-padding-lg-3 {
    padding: 1rem;
  }
  .blazor-padding-lg-4 {
    padding: 1.5rem;
  }
  .blazor-padding-lg-5 {
    padding: 3rem;
  }
}
@media (min-width: 1200px) {
  .blazor-display-xl-inline {
    display: inline;
  }
  .blazor-display-xl-inline-block {
    display: inline-block;
  }
  .blazor-display-xl-block {
    display: block;
  }
  .blazor-display-xl-grid {
    display: grid;
  }
  .blazor-display-xl-inline-grid {
    display: inline-grid;
  }
  .blazor-display-xl-table {
    display: table;
  }
  .blazor-display-xl-table-row {
    display: table-row;
  }
  .blazor-display-xl-table-cell {
    display: table-cell;
  }
  .blazor-display-xl-flex {
    display: flex;
  }
  .blazor-display-xl-inline-flex {
    display: inline-flex;
  }
  .blazor-display-xl-none {
    display: none;
  }
  .blazor-padding-xl-0 {
    padding: 0;
  }
  .blazor-padding-xl-1 {
    padding: 0.25rem;
  }
  .blazor-padding-xl-2 {
    padding: 0.5rem;
  }
  .blazor-padding-xl-3 {
    padding: 1rem;
  }
  .blazor-padding-xl-4 {
    padding: 1.5rem;
  }
  .blazor-padding-xl-5 {
    padding: 3rem;
  }
}
@media (min-width: 1400px) {
  .blazor-display-xxl-inline {
    display: inline;
  }
  .blazor-display-xxl-inline-block {
    display: inline-block;
  }
  .blazor-display-xxl-block {
    display: block;
  }
  .blazor-display-xxl-grid {
    display: grid;
  }
  .blazor-display-xxl-inline-grid {
    display: inline-grid;
  }
  .blazor-display-xxl-table {
    display: table;
  }
  .blazor-display-xxl-table-row {
    display: table-row;
  }
  .blazor-display-xxl-table-cell {
    display: table-cell;
  }
  .blazor-display-xxl-flex {
    display: flex;
  }
  .blazor-display-xxl-inline-flex {
    display: inline-flex;
  }
  .blazor-display-xxl-none {
    display: none;
  }
  .blazor-padding-xxl-0 {
    padding: 0;
  }
  .blazor-padding-xxl-1 {
    padding: 0.25rem;
  }
  .blazor-padding-xxl-2 {
    padding: 0.5rem;
  }
  .blazor-padding-xxl-3 {
    padding: 1rem;
  }
  .blazor-padding-xxl-4 {
    padding: 1.5rem;
  }
  .blazor-padding-xxl-5 {
    padding: 3rem;
  }
}
@media print {
  .blazor-display-print-inline {
    display: inline;
  }
  .blazor-display-print-inline-block {
    display: inline-block;
  }
  .blazor-display-print-block {
    display: block;
  }
  .blazor-display-print-grid {
    display: grid;
  }
  .blazor-display-print-inline-grid {
    display: inline-grid;
  }
  .blazor-display-print-table {
    display: table;
  }
  .blazor-display-print-table-row {
    display: table-row;
  }
  .blazor-display-print-table-cell {
    display: table-cell;
  }
  .blazor-display-print-flex {
    display: flex;
  }
  .blazor-display-print-inline-flex {
    display: inline-flex;
  }
  .blazor-display-print-none {
    display: none;
  }
}

/*# sourceMappingURL=blazor.css.map */
