@page "/about"
<h3 style="color:white;">About website</h3>

<div class="frontpage">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Return to front page
    </NavLink>
</div>

<div class="panel">
    <p style="color:white;">This website was previously made for Monster Taming Direct 2023 on September 4th, 2023 at 4PM EST. Watch direct here on Ed's channel: <a href="@YT" target="_blank">Click here</a> </p>
</div>


@code {
    string YT = "https://youtu.be/pgSRTnnlqEk?si=BMtoQzPwAQZB2Ubg";
}
