@page "/"
@inject BingoService BingoService
@inject IJSRuntime Js



<div class="bingo-image-container" id="bingo-image-container">
    @if (IsDebug())
    {
        <img src="../Title.png" alt="Image" class="bingo-image" />
    }
    else
    {
        <img src="./Title.png" alt="Image" class="bingo-image" />

    }

    <h1 style="color:white;">BINGO</h1>
    <div class="bingo-card">
        @for (int row = 0; row < 5; row++)
        {
            @for (int col = 0; col < 5; col++)
            {
                <BingoCell CellContent="@BingoService.GetCellValue(row, col)" />
            }
        }
    </div>
</div>

<div>
    <label style="color:white;">
        <input type="checkbox" @bind="allowDuplicates" /> Allow Duplicates
    </label>
    <button @onclick="RegenerateCard">
        Regenerate Bingo Card
    </button>
    <button @onclick="Print">
        Print PDF
    </button>
</div>


<br />
<p style="color:white;">Credit to Skymill Studio &amp; BottledDucky on discord</p>

@code {
    private bool allowDuplicates = false;
    private BingoCard? bingoCard;

    private void RegenerateCard()
    {
        bingoCard = BingoService.GenerateBingoCard(allowDuplicates);
        StateHasChanged();
    }

    private async Task Print()
    {
        await Js.InvokeVoidAsync("printInvoke");
    }

    public static bool IsDebug()
    {
#if DEBUG
      return true;
#else
      return false;
#endif
    }
}