@page "/"
@inject BingoService BingoService
@inject IJSRuntime Js

<div class="bingo-image-container" id="bingo-image-container">
    <img src="../Title.png" alt="Image" class="bingo-image" />
    <h1 style="color:white;">BINGO</h1>
    <div class="bingo-card">
        @for (int row = 0; row < 5; row++)
        {
            @for (int col = 0; col < 5; col++)
            {
                <BingoCell CellContent="@BingoService.GetCellValue(row, col)" />
            }
        }
    </div>
</div>

<button @onclick="RegenerateCard">Regenerate Bingo Card</button>

<button @onclick="Print">
    Print PDF
</button>

@code {

    private void RegenerateCard()
    {
        BingoService.GenerateBingoCard();
        StateHasChanged();
    }

    private async Task Print()
    {
        await Js.InvokeVoidAsync("printInvoke");
    }
}